.yellow {
    background-color: #FFD54F;
    color: black
}

.blue{
    background-color: rgb(84, 125, 158);
    color: white
}

.green {
    background-color: rgb(35, 139, 35);
    color: white
}

.red{
    background-color: rgb(211, 45, 45);
    color: white
}

.number-board {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.number-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 42px;
}